name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 8 * * 5'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            sbt_version: "1.2.8"
          - java: 8
            sbt_version: "1.3.13"
          - java: 8
          - java: 11
    steps:
    - uses: actions/checkout@v1
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.${{ matrix.java }}"
    - uses: coursier/cache-action@v5
    - run: |
        git config core.whitespace tab-in-indent,trailing-space,space-before-tab,cr-at-eol
        git show --oneline --check
    - run: .github/scala-native-setup.sh
    - run: sbt
           -v
           $(if [[ "${{matrix.sbt_version}}" != "" ]] ; then echo "^^${{matrix.sbt_version}}" ; fi)
           test
           scripted
